body {
  /* background-color: #242424; */
}

.container {
  color: #000;
  padding: 10px;
}

/* 隐藏滚动条 */
.messages-container::-webkit-scrollbar {
  display: none;
}

.messages-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}